* {
  margin: 0;
}
.app {
  text-align: center;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  border-radius: 5px;
  padding: 7px 7px 7px 7px;
  height: 100vh;
}

.app__hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin: 4px 0px 4px 0px;
}

.app__form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.quote__list {
  text-align: center;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.quote__container {
  margin: 10px auto;
  max-width: 500px;
  text-align: center;
}
.quote {
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}
.quote__title {
  display: flex;
  align-items: center;
}
.quote__margin {
  margin-bottom: 10px;
}
.quote__title > h4 {
  margin-right: 5px;
}
.quote__buttons {
  display: flex;
  flex-direction: column;
}
