* {
  margin: 0;
}
.app {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
.app__form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.course__list {
  text-align: center;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.course__container {
  margin: 10px auto;
  max-width: 500px;
  text-align: center;
}
.course {
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}
.course__title {
  display: flex;
  align-items: center;
}
.course__margin {
  margin-bottom: 10px;
}
.course__title > h4 {
  margin-right: 5px;
}
.course__buttons {
  display: flex;
  flex-direction: column;
}
